<h1>Список Юридически лиц</h1>
<table class="table table-striped">
  <thead>
    <tr>
    <td>
      <input type="button" value="Добавить" class="btn btn-success" (click)="addJurpers('3501')" />
    </td>    
    <td>
     <!-- <input type="text" [(ngModel)]="jurpers.code" placeholder="3501" class="form-control" />  -->
    </td>
    <td>
      <input type="button" value="Загрузить Все ЮЛ" class="btn btn-default" (click)="loadAllJurpers()" />
    </td>

    <td></td>
    <td></td>
    </tr>
  </thead>
</table>
    <table class="table table-striped">
    <thead>
    <tr>
        <td>RN</td>
        <td>Код</td>
        <td>Наименование</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let jurpers of jurpersons">
        <ng-template [ngTemplateOutlet]="loadTemplate(jurpers)"
                     [ngTemplateOutletContext]="{ $implicit: jurpers}">
        </ng-template>
    </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-jurpers>
    <td>{{jurpers.rn}}</td>
    <td></td>
    <td>{{jurpers.code}}{{jurpers.name}}</td>
    <!--<td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editjurpers(jurpers)" />
    </td>-->
    <td>
        <input type="button" value="Удалить" (click)="deleteJurpers()" class="btn btn-danger" />
    </td> 
</ng-template>
